.delivery_page {
	max-width: 1667px;
	margin: 0 auto;
}
.delivery_page_heading {
	margin: 2em auto 2em auto;
	text-align: center;
	width: fit-content;
	position: relative;
	&::before {
		content: "";
		width: 7em;
		height: 1px;
		background-color: #000;
		position: absolute;
		top: 50%;
		left: 0;
		transform: translate(-110%, -50%);
	}
	&::after {
		content: "";
		width: 7em;
		height: 1px;
		background-color: #000;
		position: absolute;
		top: 50%;
		right: 0;
		transform: translate(110%, -50%);
	}
	@media screen and (max-width: 900px) {
		&::before,
		&::after {
			display: none;
		}
	}
}

.delivery_map {
	padding: 1em 0;
	h5 {
		margin: 5em 0 2em 0;
		text-align: center;
	}
	.map {
		width: 90%;
		height: 40em;
		max-width: 50em;
		margin: 0 auto;
		display: block;
		border: 1px solid #777;
	}
}

.deilvery_cards {
	padding-right: 1em;
	ul {
		list-style: none;
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-column-gap: 1em;
		grid-row-gap: 2em;
		padding: 0 0.5em;
		@media screen and (max-width: 1100px) {
			grid-template-columns: 1fr 1fr;
		}
		@media screen and (max-width: 767px) {
			grid-template-columns: 1fr;
		}
		li {
			border: 3px solid #999;
			border-radius: 1em;
			display: grid;
			align-items: center;
			justify-items: center;
			grid-template-columns: 1fr 3fr;
			padding: 2em 0.5em;
			grid-gap: 1em;
			h6 {
				font-weight: 700;
			}
			p {
				margin: 0;
			}
			.visa {
				height: 1.3em;
				margin-left: 0.2em;
			}
			div:nth-child(1) {
				border-radius: 50%;
				border: 5px solid #333;
				display: grid;
				height: 7em;
				width: 7em;
				background-color: #ffed00;
				justify-items: center;
				align-items: center;
			}
		}
	}
	@media screen and (max-width: 767px) {
		padding-right: 0;
	}
}
