
html,
body {
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	* {
		&:focus {
			outline: none;
		}
	}
}

// modal
.close {
	color: #ffed00 !important;
}
@media (min-width: 576px) {
	.modal-dialog {
		margin: 3rem auto !important;
	}
}

//modal
.modal {
	top: 15% !important;
}