@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

.navbar_container {
	background-color: #1d1d1b;
	nav {
		width: 100%;
		.navbar_brand {
			display: none;
			@media screen and (max-width: 768px) {
				display: inline-block;
				a {
					span {
						color: #ffed00 !important;
					}
				}
			}
		}
		.navbar_toggler {
			border: 1px solid #ffed00;
			padding-bottom: 0.4em;
			span {
				display: none;
			}
			&::before {
				content: "\2630";
				color: #ffed00;
			}
		}
		ul {
			max-width: 1260px;
			width: 100%;
			margin: 0 auto;
			justify-content: space-between;
			justify-items: center;
			li {
				a {
					color: #fff;
					font-family: "Roboto", sans-serif;
					font-size: 1.1em;
					font-weight: 400;
					white-space: nowrap;
				}
				@media screen and (max-width: 992px) {
					a {
						text-align: center;
					}
				}
			}
			.activeLink {
				color: #ffed00;
			}
			.login_nav_item {
				flex-basis: 20%;
				div {
					display: flex;
					justify-content: flex-end;
					button {
						width: fit-content;
					}
				}
			}
		}
	}
}

.header_info_block {
	max-width: 1260px;
	margin: 0 auto;
	display: grid;
	grid-template-columns: 25% 24% 15% 15% 21%;
	justify-items: center;
	align-items: center;
	padding: 1em 0;
	.header_info_block_item {
		position: relative;
		padding: 1em 0;
		p {
			margin: 0;
		}
		a {
			font-weight: 600;
			font-size: 1.8em;
			color: #3c3c3b;
		}
	}
	.header_info_block_item:nth-child(2) {
		h3,
		p {
			white-space: nowrap;
		}
	}
	.header_info_block_item:nth-child(3) {
		p {
			white-space: nowrap;
		}
	}
	@media screen and (max-width: 1200px) {
		grid-template-columns: 1fr 1fr 1fr;
		.header_info_block_item {
			padding: 0;
		}
		.header_info_block_item:nth-child(2) {
			display: none;
		}
		.header_info_block_item:nth-child(5) {
			display: none;
		}
	}
	@media screen and (max-width: 768px) {
		grid-template-columns: 1fr;
		.header_info_block_item {
			padding: 0.5em;
		}
		.header_info_block_item:nth-child(2) {
			display: none;
		}
		.header_info_block_item:nth-child(3) {
			display: none;
		}
		.header_info_block_item:nth-child(4) {
			display: none;
		}
		.header_info_block_item:nth-child(5) {
			display: none;
		}
	}
}
.phone_image {
	position: absolute;
	width: 3.5em;
	left: 0;
	top: 50%;
	transform: translate(-50%, -50%);
}
.brang_logo {
	width: 90%;
}
.delivery {
	padding-right: 1em;
	font-size: 0.85em;
	font-weight: 700;
	margin-bottom: 0.2em;
}
.delivery_time {
	font-size: 0.9em;
	margin: 0;
}
.work_time {
	font-weight: 700;
	font-size: 0.85em;
}
.header_info_block_item_location {
	padding-left: 1em;
	display: grid;
	position: relative;
	p {
		margin: 0 0 -0.2em 0;
	}
	select {
		border: none;
		font-size: 0.9em;
		font-weight: 700;
		&:focus {
			outline: none;
		}
	}
}
.location_image {
	height: 3em;
	position: absolute;
	top: 50%;
	left: 0;
	transform: translate(-50%, -45%);
}
.watch_block {
	display: grid;
	position: relative;
	padding-left: 1em;
	p {
		margin: 0;
	}
}
.watch_image {
	width: 4em;
	position: absolute;
	top: 50%;
	left: 0;
	transform: translate(-60%, -45%);
}
.header_categories_block {
	max-width: 1260px;
	margin: 0 auto;
	nav {
		padding-left: 0;
		padding-right: 0;
		overflow-x: hidden;
		@media screen and (max-width: 1999px) {
			padding-left: 1em;
			padding-right: 1em;
		}
		.navbar_brand {
			display: none;
		}
		.navbar_toggler {
			border: 1px solid #000;
			padding-bottom: 0.3em;
			span {
				display: none;
			}
			&::before {
				content: "\2630";
				color: #000;
			}
		}
		ul {
			padding: 1.5em 0 1em 0;
			width: 100%;
			justify-content: space-between;
			li {
				display: flex;
				justify-content: center;
				justify-items: center;
				align-items: center;
				img {
					height: 2.5em;
					margin-right: 0.3em;
				}
				a {
					text-decoration: none;
					font-weight: 700;
					font-size: 0.95em;
					color: #3c3c3b;
					display: flex;
					align-items: flex-end;
				}
				.navLink {
					padding-left: 0 !important;
					padding-right: 0 !important;
				}
				@media screen and (max-width: 1024px) {
					padding: 0.5em;
					&:nth-child(even) {
						a {
							display: flex;
							align-items: center;
							img {
								order: 1;
								margin: 0 0 0 0.3em;
							}
						}
					}
				}
			}
		}
		@media screen and (max-width: 1024px) {
			.navbar_brand {
				display: grid;
				p {
					font-size: 0.7em;
				}
			}
		}
	}
}
