@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

.navbar_container {
	font-family: Roboto, sans-serif;
	background-color: #1d1d1b;
	nav {
		//max-width: 1667px;
		//margin: 0 auto;
		height: 56px;
		width: 100%;
		.navbar_brand {
			display: none;
			@media screen and (max-width: 768px) {
				display: inline-block;
				a {
					span {
						color: #ffed00 !important;
					}
				}
			}
		}
		.navbar_toggler {
			border: 1px solid #ffed00;
			padding-bottom: 0.3em;
			//margin-right: .8em;
			span {
				display: none;
			}
			&::before {
				content: "\2630";
				color: #ffed00;
			}
			&:focus {
				outline: none;
			}
		}
		ul {
			max-width: 1667px;
			width: 100%;
			margin: 0 auto;
			justify-content: space-between;
			justify-items: center;
			li {
				a {
					color: #fff;
					font-family: "Roboto", sans-serif;
					font-size: 18px;
					font-weight: 400;
					white-space: nowrap;
				}
				@media screen and (max-width: 992px) {
					a {
						text-align: center;
					}
				}
			}
			.activeLink {
				color: #ffed00;
				font-weight: bold;
			}
			.login_nav_item {
				flex-basis: 20%;
				div {
					display: flex;
					justify-content: flex-end;
					button {
						width: fit-content;
					}
					@media screen and (max-width: 992px) {
						justify-content: center;
						padding-bottom: 1em;
					}
				}
			}
		}
	}
}

.header_info_block {
	max-width: 1667px;
	margin: 0 auto;
	display: grid;
	grid-template-columns: 25% 24% 15% 15% 21%;
	justify-items: stretch;
	align-items: center;
	padding: 1em 0;
	.header_info_block_item {
		position: relative;
		padding: 1em 0;
		p {
			margin: 0;
		}
		.phone {
			color: #3c3c3b;
			font-size: 37px;
			font-weight: 700;
			letter-spacing: 1px;
		}
	}
	.header_info_block_item:nth-child(2) {
		h3,
		p {
			white-space: nowrap;
		}
	}
	.header_info_block_item:nth-child(3) {
		p {
			white-space: nowrap;
		}
	}
	@media screen and (max-width: 1500px) {
		grid-template-columns: 1fr 1fr 1fr;
		justify-items: center;
		.header_info_block_item {
			padding: 0 !important;
		}
		.header_info_block_item:nth-child(2) {
			display: none !important;
		}
		.header_info_block_item:nth-child(5) {
			display: none !important;
		}
	}
	@media screen and (max-width: 768px) {
		grid-template-columns: 1fr;
		gap: 1em;
		.header_info_block_item {
			padding: 0.5em;
		}
		.header_info_block_item:nth-child(2) {
			display: none;
		}
		.header_info_block_item:nth-child(3) {
			display: none;
		}
		.header_info_block_item:nth-child(4) {
			display: none;
		}
		.header_info_block_item:nth-child(5) {
			display: none;
		}
	}
}
.phone_image {
	position: absolute;
	width: 4.5em;
	left: 0;
	top: 50%;
	transform: translate(-50%, -50%);
}
.brang_logo {
	width: 90%;
}
.delivery {
	padding-right: 1em;
	font-size: 20px;
	font-weight: 700;
	margin-bottom: 0.2em;
}
.delivery_time {
	color: #706f6f;
	font-size: 20px;
	font-weight: 300;
	margin: 0;
}
.work_time {
	color: #3c3c3b;
	font-size: 18px;
	font-weight: 700;
	white-space: nowrap;
}
.header_info_block_item_location {
	padding-left: 1em;
	display: grid;
	position: relative;
	p {
		color: #706f6f;
		font-size: 14px;
		font-weight: 300;
		margin: 0 0 -0.2em .2em;
	}
	.city_select {
		//appearance: none;
		//-webkit-appearance: none;
		//-moz-appearance: none;
		border: none;
		color: #000000;
		font-size: 18px;
		font-weight: 700;
		background-color: #fff;
		width: fit-content;
		&:focus {
			outline: none;
		}
	}
	//span {
	//	display: block;
	//	position: absolute;
	//	top: 50%;
	//	right: 50%;
	//	transform: translate(160%, 15%) rotate(90deg);
	//	width: 10px;
	//	height: 10px;
	//	color: #000;
	//}
}
.location_image {
	height: 3em;
	position: absolute;
	top: 50%;
	left: 0;
	transform: translate(-50%, -45%);
}
.watch_block {
	display: grid;
	position: relative;
	padding-left: 1em;
	p {
		color: #3c3c3b;
		font-size: 18px;
		font-weight: 700;
		line-height: 1em;
		margin: 0;
	}
}
.watch_image {
	width: 5em;
	position: absolute;
	top: 50%;
	left: 0;
	transform: translate(-70%, -45%);
}
.header_categories_block {
	max-width: 1667px;
	margin: 0 auto;
	padding-right: 1em;
	nav {
		padding-left: 0;
		padding-right: 0;
		overflow-x: hidden;
		@media screen and (max-width: 999px) {
			padding-left: .5em;
			padding-right: 0;
		}
		.navbar_brand {
			display: none;
		}
		.navbar_toggler {
			margin-left: .3em;
			border: 1px solid #000;
			padding-bottom: 0.3em;
			span {
				display: none;
			}
			&::before {
				content: "\2630";
				color: #000;
			}
			&:focus {
				outline: none;
			}
		}
		ul {
			padding: 1.5em 0 1em 0;
			width: 100%;
			justify-content: space-between;
			li {
				display: flex;
				justify-content: center;
				justify-items: center;
				align-items: center;
				img {
					height: 4em;
					margin-right: 0.3em;
					@media screen and (max-width: 1600px) {
						height: 3em;
					}
					@media screen and (max-width: 1340px) {
						height: 2.7em;
					}
					@media screen and (max-width: 1250px) {
						height: 2.5em;
					}
					@media screen and (max-width: 1180px) {
						height: 4em;
						margin-right: 2em;
					}
				}
				a {
					text-decoration: none;
					display: flex;
					align-items: flex-end;
					span {
						color: #3c3c3b;
						font-size: 18px;
						font-weight: 700;
						padding-bottom: 5px;
						@media screen and (max-width: 1600px) {
							font-size: 16px;
						}
						@media screen and (max-width: 1340px) {
							font-size: 15px;
						}
						@media screen and (max-width: 1180px) {
							font-size: 18px;
						}
					}
				}
				.activeLink {
					span {
						border-bottom: 2px solid #3c3c3b;
					}
				}
				@media screen and (max-width: 1180px) {
					padding: 0.5em;
					justify-content: flex-start;
					justify-items: flex-start;
					//&:nth-child(even) {
						a {
							display: grid;
							grid-template-columns: 1fr 2fr;
							//align-items: center;
							width: 100%;
							max-width: 400px;
							margin: 0 auto;
							img {
								//order: 1;
								margin-left: 0.3em;
								@media screen and (max-width: 1180px) {
									margin-left: 0;
									//flex-basis: 50%;
									//margin-right: 0;
								}
							}
						}
					//}
				}
			}
		}
		@media screen and (max-width: 1024px) {
			.navbar_brand {
				display: grid;
				margin: 0 auto;
				p {
					width: 100%;
					margin: 0 auto;
					font-size: 0.7em;
				}
			}
		}
	}
}

.collapse {
	background-color: #1b1b1a;
	min-width: 100vw !important;
	margin-left: -1em;
	margin-right: 0;
}
.nav_list {
	margin: 0;
	min-width: 100vw !important;
}
