.search_control {
	width: 100%;
	display: flex;
	justify-content: flex-end;
	padding-right: 3em;
	div {
		display: flex;
		align-items: center;
		padding: 1.5em 1em;
		img:nth-child(1) {
			width: 2em;
		}
		img:nth-child(2) {
			width: 3.5em;
		}
		span {
			padding-left: 0.7em;
		}
	}
	@media screen and (max-width: 600px) {
		padding-right: 1em;
	}
}
