.search_control {
	max-width: 1667px;
	margin: 0 auto;
	width: 100%;
	display: grid;
	grid-auto-flow: column;
	justify-content: end;
	padding: 1em 3em 1em 1em;
	div {
		position: relative;
		display: flex;
		align-items: center;
	}
	@media screen and (max-width: 450px) {
		padding-left: 3em;
	}
	.input {
		display: block;
		line-height: 3em;
		border: none;
		transition: 0.5s;
		width: 11em;
		margin-right: 4em;
		padding-left: 3em;
		border-bottom: 2px solid #fff;
		background: none;
		&:focus {
			outline: none;
			border-bottom: 2px solid #888;
		}
		@media screen and (max-width: 500px) {
			width: 0;
			&:focus {
				width: 10em;
			}
			&::-webkit-input-placeholder,
			&::-moz-placeholder,
			&::-moz-placeholder,
			&::-ms-input-placeholder,
			&::placeholder {
				opacity: 0;
				color: transparent;
			}
		}
	}
	.input_image {
		height: 43px;
		display: block;
		margin-right: -2.5em;
	}

	.select {
		display: block;
		height: 3em;
		border: none;
		background: none;
		color: #777;
		padding-left: 3em;
		transition: 0.5s;
		&:focus {
			outline: none;
		}
		@media screen and (max-width: 500px) {
			width: 0;
			appearance: none;
			-webkit-appearance: none;
			-moz-appearance: none;
			&:focus {
				width: auto;
			}
		}
	}
	.select_image {
		margin-right: -3em;
		width: 50px;
		height: 1.6em;
		display: block;
		@media screen and (max-width: 500px) {
			width: 40px;
		}
	}
}
