.footer {
	margin-top: 3em;
	background-color: #1d1d1b;
}
.footer_content {
	max-width: 1667px;
	margin: 0 auto;
	display: grid;
	grid-template-columns: 2fr 4fr 3fr 4fr;
	h6 {
		color: #b2b2b2;
		font-size: 16px;
		font-weight: 500;
		line-height: 16px;
		margin-bottom: 1em;
	}
	p {
		color: #b2b2b2;
		font-size: 16px;
		font-weight: 500;
		line-height: 16px;
	}
	a {
		text-decoration: none;
		color: #ffffff;
		font-size: 16px;
		font-weight: 500;
		line-height: 16px;
	}
	@media screen and (max-width: 1200px) {
		grid-template-columns: 2fr 3fr;
	}
	@media screen and (max-width: 750px) {
		grid-template-columns: 1fr;
	}
}
.footer_item {
	padding: 1em;
	display: grid;
}

.footer_item:nth-child(1) {
	position: relative;
	&::after {
		position: absolute;
		content: "";
		width: 1px;
		height: 5em;
		background-color: #fff;
		top: 50%;
		right: 0;
		transform: translateY(-50%);
	}
	ul {
		list-style: none;
		padding: 0;
		display: grid;
		grid-template-columns: 1fr 1fr;
	}
}
.footer_item:nth-child(2) {
	position: relative;
	&::after {
		position: absolute;
		content: "";
		width: 1px;
		height: 5em;
		background-color: #fff;
		top: 50%;
		right: 0;
		transform: translateY(-50%);
	}
	ul {
		list-style: none;
		padding: 0;
		column-count: 2;
	}
}
.footer_item:nth-child(3) {
	position: relative;
	&::after {
		position: absolute;
		content: "";
		width: 1px;
		height: 5em;
		background-color: #fff;
		top: 50%;
		right: 0;
		transform: translateY(-50%);
	}
	color: #fff;
	.sign {
		filter: brightness(2.2);
		height: 3em;
		display: inline-block;
		margin: 0 -1em 0 -0.8em;
	}
	h6 {
		margin: 0;
	}
	address {
		padding: 0 0.5em;
	}
	div {
		display: flex;
		a {
			font-size: 24px;
			font-weight: 400;
			text-decoration: none;
			color: #fff;
			white-space: nowrap;
		}
	}
}
.footer_item:nth-child(4) {
	display: grid;
	grid-template-columns: 2fr 3fr;
	gap: 1em;
	text-align: center;
	justify-content: space-around;
	align-items: center;
	justify-items: center;
	a {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 1em;
	}
	@media screen and (max-width: 500px) {
		grid-template-columns: 1fr;
	}
}
