.wok_page {
	padding-right: 1em;
	@media screen and (max-width: 720px) {
		padding-right: 0;
	}
	.wok_list_heading {
		margin: 1em auto 1em auto;
		padding: 0 0.5em;
		text-align: center;
		width: fit-content;
		position: relative;
		font-weight: 600;
		&::before {
			content: "";
			width: 300px;
			height: 1px;
			background-color: #000;
			position: absolute;
			top: 50%;
			left: 0;
			transform: translate(-110%, -50%);
		}
		&::after {
			content: "";
			width: 300px;
			height: 1px;
			background-color: #000;
			position: absolute;
			top: 50%;
			right: 0;
			transform: translate(110%, -50%);
		}
		@media screen and (max-width: 900px) {
			&::before,
			&::after {
				width: 2em;
			}
		}
	}
}

.wok_list {
	list-style: none;
	padding: 0;
	display: grid;
	row-gap: 1em;
	justify-content: space-between;
	justify-items: center;
	grid-template-columns: repeat(4, 1fr);
	li {
		margin: 0 auto;
	}
	@media screen and (max-width: 1550px) {
		grid-template-columns: repeat(3, 1fr);
	}
	@media screen and (max-width: 1160px) {
		grid-template-columns: repeat(2, 1fr);
	}
	// @media screen and (max-width: 720px) {
	// 	grid-template-columns: repeat(1, 1fr);
	// }
}

.card {
	height: 100%;
	max-width: 22em;
	padding: 1em;
	display: grid !important;
	align-content: space-between;

	.wok_image {
		//height: 17em;
		//width: auto;
		max-width: 354px;
		width: 100%;
		margin: 0 auto;
	}

	.basket {
		white-space: nowrap;
		position: relative;
		background-color: #575756;
		color: #f9e803;
		padding-left: 2em;
		font-size: 18px;
		font-weight: 500;
		border-radius: 0.5em;
		cursor: pointer;
		img {
			width: 6em;
			position: absolute;
			top: 50%;
			left: 0;
			transform: translate(-31%, -45%);
		}
		transition: 0.3s;
		&:hover,
		&:active {
			background-color: #000;
			color: #ffed00;
		}
	}

	@media screen and (max-width: 500px) {
		max-width: 50vw;
		padding: 1em .5em;
		.card_title {
			font-size: 18px;
			small {
				font-size: 11px;
			}
		}
		.card_text {
			font-size: 14px;
		}
		.basket {
			font-size: 12px;
			max-height: 2.6em;
			padding-left: 1.5em;
			img {
				width: 4em;
			}
		}
		.price {
			font-size: 14px;
			white-space: nowrap;
			align-self: center;
		}
	}
}
.card_title {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-bottom: 0.5em;
	font-size: 21px;
	font-weight: 600;
	small {
		color: #3c3c3b;
		font-size: 14px;
		font-weight: 300;
		line-height: 21px;
	}
}
.card_body {
	padding: 1em 0;
}
.new {
	background-color: #662483;
	color: #fff;
	border-radius: 0.2em;
	padding: 0 0.5em 0.2em 0.5em;
	font-weight: 100;
	font-size: 0.9em;
}
.hit {
	background-color: #e30613;
	color: #fff;
	border-radius: 0.2em;
	padding: 0 0.5em 0.2em 0.5em;
	font-weight: 100;
	font-size: 0.9em;
}
.person {
	width: 1em;
	opacity: 0.5;
}
.card_text {
	padding: 0.5em 0;
	line-height: 1.3em;
}
